@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  src: '@/assets/fonts/PretendardVariable.woff2';
  font-display: swap;
}

@font-face {
  font-family: 'Iropke';
  font-style: normal;
  src: '@/assets/fonts/IropkeBatangM.woff';
  font-display: swap;
}

* {
  font-family: 'Pretendard';
}
